/* https://colorpalettes.net/color-palette-1834/
 * #050308
 * #221336
 * #ba5e8c
 * #e89173
 * #ffead6
*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*/

* {
    box-sizing: border-box;
    --black: #050308;
    --navy: #221336;
    --rose: #ba5e8c;
    --orange: #e89173;
    --cream: #ffead6;
}

:root {
    background-color: var(--navy);
    color: var(--cream);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(12px + 0.9vw);
}

.container {
    display: inline-grid;
    column-gap: 2%;
    row-gap: 5%;

    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas:
        "logo header header header logout"
        ". dropdown ui ui ."
        ". history history history ."
        "footer footer footer footer";

    justify-items: center;
    align-items: center;
    justify-content: stretch;
    align-content: stretch;
}

/* Grid elements */
.logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

.header {
    grid-column: 2 / span 3;
    grid-row: 1;
    font-size: calc(48px + 0.9vw);
    justify-self: start;
}

h1 {
    background: -webkit-linear-gradient(left,var(--rose), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(48px + 0.9vw);
}

.logout {
    grid-column: 5;
    grid-row: 1;
}

.dropdown {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
}

.playlists {
    display: none;
}

.playlists:hover {
    display: block;
}

.ui {
   grid-column: 3 / span 2;
   grid-row: 2;
   justify-self: end;
}

.history {
    grid-column: 2 / span 3;
    grid-row: 3;
    justify-self: start;
    align-self: start;
}

.footer {
    grid-column: 1 / span 5;
    grid-row: 4;
    align-self: start;
}

.btn {
    border: 2px solid var(--orange);
    border-radius: 5px;
    background-color: var(--navy);
    color: var(--orange);
    padding: 0.5em 1em;
    font-size: calc(4px + 0.9vw);
    font-family: "Montserrat";
    cursor: pointer;

    outline-color: var(--cream);
    outline-style: "border-radius: 5px";
  }

.btn:hover {
    background: var(--black);
    border-color: var(--rose);
    color: var(--rose);
}

.btn:focus {
    border-color: var(--cream);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(32px + 4vw);
}

.index {
    text-align: center;
}

/* Select options */
select {
    outline: none;
    font-family: 'Montserrat';
    cursor: pointer;
    background-color: var(--navy);
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--cream);
    font-size: calc(12px + 0.9vw);
}

select:hover {
    background-color: var(--rose);
}

select option {
    background-color: var(--black);
    padding: 0.5em 1em;
    color: var(--cream);
    width: 62vw;
}

select option:hover {
    background-color: var(--rose);
}

select option:checked:after {
    background-color: var(--orange);
}

/* Modify link appearance */